.DS_Store
.idea/.gitignore
.idea/Command_Collection_Infra.iml
.idea/copilot.data.migration.agent.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/markdown.xml
.idea/material_theme_project_new.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
